<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<html>
<head>
<title>沃晒会员登录页面</title>
<meta name="keywords" content="" />
<meta name="description" content="css3网页后台登录界面。" />
<link rel="stylesheet" type="text/css" href="./Include/Css/Login_style.css" />
<script type="text/javascript" src="./Include/Javascript/Login_javascript.js"></script>
</head>
<body>
<div class="login_frame"></div>
<div class="LoginWindow">
  <div>

    <form method="post" action="index.php?c=index&a=dologin" onsubmit="return user_input()" class="login">
    <p>
      <label for="login">帐号:</label>
      <input type="text" name="name" id="id" value="">
    </p>

    <p>
      <label for="password">密码:</label>
      <input type="password" name="password" id="password" value="">
    </p>

    <p class="login-submit">
      <button type="submit" class="login-button">Login</button>
    </p>
    <p class="registration"">还没有沃晒账号?&nbsp;&nbsp;<a href="index.php?c=index&a=register">立即注册</a></p>
    <a href="index.php?c=index&a=index">返回首页</a>
    </form>
  </div>
</div>

</body>
</html>